@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

h1 {
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
}

body {

    background-color: orangered
}

footer {
    text-align: center;
}
img {
    width: 600px;
    height: 300px;
}

nav ul li {
    display: inline;
    margin: 30px;
}

header {

    background-color: rgb(251, 126, 0);
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}